<nav class="breadcrumbs">
    <ol class="breadcrumbs__list">
        <li class="breadcrumbs__item">
            <a class="breadcrumbs__item-link" href="/">
                ホーム
            </a>
        </li>

        <% if (is_home()) { %>
            <% if(page.current !== 1){ %>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__item-link" href="/page/<%= page.current %>/">
                        ページ<%= page.current %>
                    </a>
                </li>
            <% } %>
        <% } else if (is_category()) { %>
            <%
            const path = page.path.replace(/category\//, '').replace(/\/page\/.+/,'').replace(/\/index.html/, '');
            const categories = path.split('/');
            let dir_name = '';
            %>
            <% categories.forEach(function(item, i){ %>
                <%
                i += 2;
                dir_name += '/' + item;
                %>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__item-link" href="/category<%= dir_name %>/">
                        <% if(theme[item]){%><%= theme[item] %><% }else{ %><%= item %><% } %>
                    </a>
                </li>
            <% }) %>
            <% if(page.current !== 1){ %>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__item-link" href="/category<%= dir_name %>/page/<%= page.current %>/">
                        ページ<%= page.current %>
                    </a>
                </li>
            <% } %>
        <% } else if (is_archive()) { %>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__item-link" href="/<%- path %>">
                    アーカイブ
                </a>
            </li>
        <% } else if(is_post()) { %>
            <% let dir_name = ''; %>
            <% page.categories.forEach(function(item, i){ %>
                <%
                i += 2;
                dir_name += '/' + item.name;
                %>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__item-link" href="/category<%= dir_name.toLowerCase(); %>/">
                        <%= item.name %>
                    </a>
                </li>
            <% }) %>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__item-link" href="/<%- page.path %>">
                        <%= page.title %>
                    </a>
                </li>
        <% } else if (is_page()) { %>
            <%
            const path = page.path.replace(/index.html/, '');
            %>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__item-link" href="/<%- path %>">
                    <%= page.title %>
                </a>
            </li>
        <% } %>
    </ol>
</nav>
