<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<%# titleの出し分け %>
<%
var title = page.title;

if (is_archive()){
  title = 'アーカイブ';

  if (is_month()){
    title += ': ' + page.year + '/' + page.month;
  } else if (is_year()){
    title += ': ' + page.year;
  }
} else if (is_category()){
  title = 'カテゴリー: ' + page.category;
} else if (is_tag()){
  title = 'タグ: ' + page.tag;
}
%>
<title><% if (title){ %><%= title %> - <% } %><%= config.title %></title>

<%# ディスクリプションの設定 %>
<%
if(is_post()){
  if (page.description) {
    var description = page.description;
  }else {
    var description = page.content.replace(/<("[^"]*"|'[^']*'|[^'">])*>/g,'').slice(0, 110);
  }
} else {
    var description = config.description;
}
%>
<meta name="description" content="<%= description %>">

<%# URLの正規化（index.htmlを削除） %>
<%
  if (/index.html/.test(url)) {
    url = url.replace(/index.html/, '');
  }
  var s = url.slice(-1);
  if (s != '/') {
    url += '/';
  }
%>
<link rel="canonical" href="<%= url %>">

<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">

<% if (is_post()){ %>
<link rel="prerender" href="/">
<% } %>
<link rel="dns-prefetch" href="https://www.googletagmanager.com">
<link rel="dns-prefetch" href="https://pagead2.googlesyndication.com">
<link rel="dns-prefetch" href="https://adservice.google.co.jp">
<link rel="dns-prefetch" href="https://adservice.google.com">
<link rel="dns-prefetch" href="https://googleads.g.doubleclick.net">
<%# フィード %>
<link rel="alternative" type="application/atom+xml" title="pixelog" href="/atom.xml">

<%# サムネイル画像格納 %>
<%
if(page.thumbnail) {
  var thumbnail_url = page.thumbnail;
}else {
  thumbnail_url = 'https://pixelog.net/img/ogp_logo.png';
}
%>


<%# OGP設定 %>
<meta property="og:locale" content="ja_JP">
<meta property="og:title" content="<% if (title){ %><%= title %> - <% } %><%= config.title %>">
<meta property="og:description" content="<%= description %>">

<% if(page.date) { %>
  <meta property="article:published_time" content="<%= page.date.format() %>">
<% }
%>
<meta property="og:url" content="<%= url %>">

<%
if(is_post()) {
  var type = 'article'
}else{
  var type = ' website';
}
%>
<meta property="og:type" content="<%= type %>">
<meta property="og:image" content="<%= thumbnail_url %>">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:site_name" content="<%= config.title %>">
<meta name="twitter:site" content="@yussious">
<meta name="twitter:creator" content="@yussious">
<meta name="twitter:domain" content="pixelog.net">
<meta property="fb:app_id" content="359976974704228">

<%# テーマカラー %>
<meta name="theme-color" content="#3fb5bd">
<script type="application/ld+json"><%- partial('ld+json') %></script>

<%- css('css/style') %>
<% if(page.css === true) { %>
  <link rel="stylesheet" href="/<%= page.path %>style.css">
<% } %>
<% if(page.js === true) { %>
    <script src="/<%= page.path %>script.js" defer></script>
<% } %>
<script src="/js/script.js"defer></script>
