<ul class="post-list">
    <% page.posts.each(function(post){ %>
        <li class="post-list__item">
            <a class="post-list__item-link" href="/<%- post.path %>">
                <time class="post-list__date">
                  <%- post.date.format("YYYY-MM-DD") %>
                </time>
                <div class="post-list__detail">
                    <h2 class="post-list__title"><%- post.title || "Untitled" %></h2>
                </div>
            </a>
        </li>
    <% }) %>
    <% if(page.posts.length < 10) { %>
          <li class="post-list__item loading">
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-format="fluid"
                 data-ad-layout-key="-gu-18+5g-2f-83"
                 data-ad-client="ca-pub-9027963984337121"
                 data-ad-slot="7500453329"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </li>
  <% } %>
</ul>

<div class="pager">
    <a class="pager__prev<% if (!page.prev_link && !is_current('/page/2/')) { %>--disabled<% } %>" <% if (page.prev_link) { %> href="/<%- page.prev_link %>" <% } %><% if (is_current('/page/2/')) {  %> href="/" <% } %> >Newer</a>
    <div class="pager__number">
        <select class="pager__current" name="sort" onchange="location.href=this.value;">
        <% var page_path = page.path.replace(/index.html/,'').replace(/page\/.+\//,'') %>
        <% for( i = 1; i <= page.total; i++){ %>
            <% if( i === 1 ){ %>
                <option value="/<%= page_path %>"
            <% } else { %>
                <option value="/<%= page_path %>page/<%- i %>/"
            <% } %>
            <% if( i === page.current ){ %>
              selected
            <% } %>
              ><%- i %></option>
        <% } %>
        </select>
        <div class="pager__total">/ <%- page.total %></div>
    </div>
    <a class="pager__next<% if (!page.next_link) { %>--disabled<% } %>" <% if (page.next_link) { %> href="/<%- page.next_link %>" <% } %>>Older</a>
</div>
