<ul class="post-list">
    <% page.posts.each(function(post){ %>
      <li class="post-list__item">
          <a class="post-list__item-link" href="/<%- post.path %>">
              <time class="post-list__date" itemprop="datePublished" datetime="<%= post.date.format() %>">
                <%- post.date.format("YYYY-MM-DD") %>
              </time>
              <div class="post-list__detail">
                  <h2 class="post-list__title"><%= post.title || "Untitled" %></h2>
              </div>
          </a>
      </li>
    <% }) %>
</ul>

<div class="pager">
    <a class="pager__prev <% if (!page.prev_link && !is_current('/page/2/')) { %>disabled<% } %>" <% if (page.prev_link) { %> href="/<%- page.prev_link %>" <% } %><% if (is_current('/page/2/')) {  %> href="/" <% } %> >Newer</a>
    <div class="pager__number">
        <div class="pager__select">
            <select class="pager__select-form" id="pager__select" name="sort">
            <% var page_path = page.path.replace(/index.html/,'').replace(/page\/.+\//,'') %>
            <% for( i = 1; i <= page.total; i++){ %>
                <% if( i === 1 ){ %>
                    <option value="/<%= page_path %>"
                <% } else { %>
                    <option value="/<%= page_path %>page/<%- i %>/"
                <% } %>
                <% if( i === page.current ){ %>
                  selected
                <% } %>
                  ><%- i %></option>
            <% } %>
            </select>
        </div>
     / <%- page.total %>
    </div>
    <a class="pager__next <% if (!page.next_link) { %>disabled<% } %>" <% if (page.next_link) { %> href="/<%- page.next_link %>" <% } %>>Older</a>
</div>
