<% if (!page.static || page.static === undefined) { %>
<main>
  <article class="post">
    <header class="post-header">
      <h2 class="post-header__title"><%= page.title %></h2>
      <div class="post-header__meta">
        <time class="post-header__published icon-clock" itemprop="datePublished" datetime="<%= page.date.format() %>">
          <%- page.date.format("YYYY-MM-DD") %>
        </time>
        <time class="post-header__modified icon-history" itemprop="dateModified" datetime="<%= page.date.format() %>">
          <%- page.updated.format("YYYY-MM-DD") %>
        </time>
      </div>

    </header>
    <div class="content">
    <% } %>

    <%- page.content %>

<% if (!page.static || page.static === undefined) { %>
    </div>
    <footer class="post-footer">


    </footer>
  </article>
</main>
<% } %>
