<% if(is_post() === true) { %>
  <nav class="breadcrumb">
      <ol class="breadcrumb__list" itemscope itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumb__item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
              <a class="breadcrumb__item-link" itemprop="item" href="https://pixelog.net/">
                  <span itemprop="name">ホーム</span>
              </a>
              <meta itemprop="position" content="1" />
          </li>
          <% var dir_name = ''; %>
          <% page.categories.forEach(function(item, i){ %>
              <% i += 2; %>
              <% dir_name += '/' + item.name; %>
              <li class="breadcrumb__item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                  <a class="breadcrumb__item-link" itemprop="item" href="https://pixelog.net/category<%= dir_name %>">
                      <span itemprop="name"><%= item.name %></span>
                  </a>
                  <meta itemprop="position" content="<%= i %>" />
              </li>
          <% }) %>
              <li class="breadcrumb__item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                  <a class="breadcrumb__item-link" itemprop="item" href="/<%- page.path %>">
                      <span itemprop="name"><%= page.title %></span>
                  </a>
                  <meta itemprop="position" content="<%= page.categories.length + 2 %>" />
              </li>
      </ol>
  </nav>

<% } else if (is_page() === true) { %>
  <%
  var path = page.path.replace(/index.html/, '');
  %>
  <nav class="breadcrumb">
      <ol class="breadcrumb__list" itemscope itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumb__item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
              <a class="breadcrumb__item-link" itemprop="item" href="https://pixelog.net/">
                  <span itemprop="name">ホーム</span>
              </a>
              <meta itemprop="position" content="1" />
          </li>
          <li class="breadcrumb__item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
              <a class="breadcrumb__item-link" itemprop="item" href="/<%- path %>">
                  <span itemprop="name"><%= page.title %></span>
              </a>
              <meta itemprop="position" content="2>" />
          </li>
      </ol>
  </nav>

<% } else if (is_home() === true) { %>
  <% if(page.current !== 1){ %>
      <nav class="breadcrumb">
          <ol class="breadcrumb__list" itemscope itemtype="http://schema.org/BreadcrumbList">
              <li class="breadcrumb__item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                  <a class="breadcrumb__item-link" itemprop="item" href="https://pixelog.net/">
                      <span itemprop="name">ホーム</span>
                  </a>
                  <meta itemprop="position" content="1" />
              </li>
              <li class="breadcrumb__item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                  <a class="breadcrumb__item-link" itemprop="item" href="https://pixelog.net/page/<%= page.current %>/">
                      <span itemprop="name">ページ<%= page.current %></span>
                  </a>
                  <meta itemprop="position" content="2" />
              </li>
          </ol>
      </nav>
  <% } %>
<% } else{ %>

  <%
  var path = page.path.replace(/category\//, '').replace(/\/page\/.+/,'').replace(/\/index.html/, '');
  var categories = path.split('/');
  %>

  <nav class="breadcrumb">
      <ol class="breadcrumb__list" itemscope itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumb__item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
              <a class="breadcrumb__item-link" itemprop="item" href="https://pixelog.net/">
                  <span itemprop="name">ホーム</span>
              </a>
              <meta itemprop="position" content="1" />
          </li>
          <% var dir_name = ''; %>
          <% categories.forEach(function(item, i){ %>
              <% i += 2; %>
              <% dir_name += '/' + item; %>
              <li class="breadcrumb__item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                  <a class="breadcrumb__item-link" itemprop="item" href="https://pixelog.net/category<%= dir_name %>/">
                      <span itemprop="name"><%= item %></span>
                  </a>
                  <meta itemprop="position" content="<%= i %>" />
              </li>
          <% }) %>
          <% if(page.current !== 1){ %>
              <li class="breadcrumb__item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                  <a class="breadcrumb__item-link" itemprop="item" href="https://pixelog.net/category<%= dir_name %>/page/<%= page.current %>/">
                      <span itemprop="name">ページ<%= page.current %></span>
                  </a>
                  <meta itemprop="position" content="<%= i+1 %>" />
              </li>
          <% } %>
      </ol>
  </nav>
<% } %>
