<%
var tagName;
if(is_home()){
  tagName = 'h1';
}else{
  tagName = 'div';
}
%>

<header class="header">
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <<%= tagName %> class="nav__logo">
          <a class="nav__link" href="<%= url_for('/') %>">
            <%= config.title %>
          </a>
        </<%= tagName %>>
      </li>
      <% for (var i in theme.nav){ %>
      <li class="nav__item">
        <a class="nav__link" href="<%- theme.nav[i] %>"><%= i %></a>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
