<!DOCTYPE html>
<html lang="<%= config.language %>">
<head prefix="og: http://ogp.me/ns#">
  <%- partial('_partial/head') %>
</head>
<body>
  <%- partial('_partial/header') %>
  <main class="main">
    <%- body %>
  </main>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/nav') %>
  <script type="application/ld+json"><%- partial('_partial/ld+json') %></script>
  <script><%- partial('_partial/script') %></script>
</body>
</html>
