<%- partial('_partial/header') %>
<div class="container">
    <main class="main">
        <%- partial('_partial/breadcrumbs') %>
        <article class="post">
              <header class="post-header">
                <a class="post-header__title-link" href="/<%- page.path %>"><h1 class="post-header__title"><%= page.title %></h1></a>
                <% if (page.thumbnail) { %>
                  <div class="post-header__thumbnail">
                    <img class="post-header__thumbnail-img" src="<% var thumbnail_url = '/' + page.path + page.thumbnail; %><%- image_version(thumbnail_url, {prefix: 'post'}) %>">
                  </div>
                <% }%>

              </header>
              <div class="content">
                  <%- page.content %>
              </div>
              <footer class="post-footer">
              </footer>
        </article>
    </main>
<%- partial('_partial/aside') %>
</div>
<%- partial('_partial/footer') %>
