<article class="post">
    <header class="post__header">
        <div class="post__meta">
            <time class="post__published" datetime="<%- page.date.format() %>">
              <%- page.date.format("YYYY.MM.DD") %>
            </time>
            <% if (page.date.format() !== page.updated.format()) {%>
                <time class="post__updated" datetime="<%- page.updated.format() %>">
                  <%- '(最終更新: '+page.updated.format("YYYY.MM.DD") + ')' %>
                </time>
            <% } %>
        </div>
      <h1 class="post__title"><%- page.title %></h1>
      <% if (page.thumbnail) { %>
          <p class="post__thumbnail">
            <img class="post__thumbnail-img" src="/<%= page.path + page.thumbnail; %>" alt="<%- page.title %>">
          </p>
      <% }%>
    </header>
    <div class="post__content"><%- page.content %></div>
    <footer class="post__footer">
        <div class="post__ad">
            <!-- 記事下広告 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-9027963984337121"
                 data-ad-slot="4141857270"
                 data-ad-format="auto"
                 data-full-width-responsive="true">
            </ins>
        </div>
        <% if (page.tags && page.tags.length > 0) { %>
          <div class="post-tag">
            <div class="post-tag__label">タグ:</div>
            <ul class="post-tag__list">
                <% page.tags.forEach(function(item){ %>
                    <li class="post-tag__item">
                        <a class="post-tag__link" href="<%= url_for(item.path) %>">
                            #<%= item.name %>
                        </a>
                    </li>
                <% }) %>
            </ul>
          </div>
        <% } %>
    </footer>
</article>
<ul class="rich-list small">
    <li class="rich-list__item">
        <a class="rich-list__link" href="<%= url_for(page.categories.data[page.categories.length - 1].path) %>">同じカテゴリー（<%= page.categories.data[page.categories.length - 1].name; %>）の記事一覧</a>
    </li>
    <!--
    <%if(page.next){%>
        <li class="rich-list__item">
            <a class="rich-list__link" href="<%= url_for(page.next.path) %>">前の記事「<%- page.next.title %>」</a>
        </li>
    <%}%>
    <%if(page.prev){%>
        <li class="rich-list__item">
            <a class="rich-list__link" href="<%= url_for(page.prev.path) %>">次の記事「<%- page.prev.title %>」</a>
        </li>
    <%}%>
    <li class="rich-list__item">
        <a class="rich-list__link" href="">同じ月（2020年7月）の記事</a>
    </li>
    -->
    <li class="rich-list__item">
        <a class="rich-list__link" href="/">ホームへ戻る</a>
    </li>
</ul>
