<%
var tagName;
if(is_home()){
  tagName = 'h1';
}else{
  tagName = 'div';
}
%>

<header class="header">
  <<%= tagName %> class="header__logo">
      <a class="header__link" href="<%= url_for('/') %>">
          <%= config.title %>
      </a>
  </<%= tagName %>>
  <nav class="sitemap">
      <ul class="sitemap__list">
          <% for (var i in theme.sitemap){ %>
              <li class="sitemap__item">
                  <a class="sitemap__link" href="<%- theme.sitemap[i] %>"><%= i %></a>
              </li>
          <% } %>
      </ul>
  </nav>
</header>
