<article class="post">
    <header class="post__header">
        <div class="post__date">
            <time class="post__published" datetime="<%- page.date.format() %>">
              <%- page.date.format(config.date_format) %>
            </time>
            <% if (page.updated) {%>
                <time class="post__updated" datetime="<%- page.updated.format() %>">
                  <%- '('+page.updated.format(config.date_format) + '更新)' %>
                </time>
            <% } %>
        </div>
        <h1 class="post__title"><%- page.title || "Untitled" %></h1>
    </header>
    <div class="post__content"><%- page.content %></div>
    <footer class="post__footer">
        <div class="post__ad">
            <!-- 記事下広告 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-9027963984337121"
                 data-ad-slot="4141857270"
                 data-ad-format="auto"
                 data-full-width-responsive="false"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </footer>
</article>
