<!DOCTYPE html>
<html>
<head>
  <%- partial('_partial/head') %>
</head>
<body>
    <%- partial('_partial/header') %>
    <div class="container">
        <main class="main">
            <%- body %>
        </main>
        <%- partial('_partial/aside') %>
    </div>
    <%- partial('_partial/footer') %>
</body>
</html>
