<main>
  <%- partial('_partial/breadcrumb') %>
  <article class="post">
    <header class="post-header">
      <div class="post-header__meta">
        公開：<time class="post-header__published" itemprop="datePublished" datetime="<%= page.date.format() %>">
          <%- page.date.format("YYYY-MM-DD") %>
        </time> /
        更新：<time class="post-header__modified" itemprop="dateModified" datetime="<%= page.date.format() %>">
          <%- page.updated.format("YYYY-MM-DD") %>
        </time>
      </div>
      <a class="post-header__title-link" href="/<%- page.path %>"><h1 class="post-header__title"><%= page.title %></h1></a>
      <% if (page.thumbnail) { %>
        <div class="post-header__thumbnail">
          <img class="post-header__thumbnail-img" src="<% var thumbnail_url = '/' + page.path + page.thumbnail; %><%- image_version(thumbnail_url, {prefix: 'post'}) %>">
        </div>
      <% }%>

    </header>
    <div class="content">

    <%- page.content %>

    </div>
    <footer class="post-footer">
    </footer>
  </article>
</main>
