<main>
  <%- partial('_partial/breadcrumb') %>
  <article class="post">
    <header class="post-header">
      <div class="post-header__meta">
        公開：<time class="post-header__published" itemprop="datePublished" datetime="<%= page.date.format() %>">
          <%- page.date.format("YYYY-MM-DD") %>
        </time> /
        更新：<time class="post-header__modified" itemprop="dateModified" datetime="<%= page.date.format() %>">
          <%- page.updated.format("YYYY-MM-DD") %>
        </time>
        <div class="post-header__tag">
          <% page.tags.forEach(function(item){ %>
            <span><%= item.name %></span>
          <% }) %>
        </div>
      </div>
      <a class="post-header__title-link" href="/<%- page.path %>"><h1 class="post-header__title"><%= page.title %></h1></a>
      <% if (page.thumbnail) { %>
        <div class="post-header__thumbnail">
          <img class="post-header__thumbnail-img" src="<% var thumbnail_url = '/' + page.path + page.thumbnail; %><%- image_version(thumbnail_url, {prefix: 'post'}) %>">
        </div>
      <% }%>

    </header>
    <div class="content">

    <%- page.content %>

    </div>
    <footer class="post-footer">
    <!--
      <div class="share-btn-wrapper">
        <ul class="social-btn">
            <li class="social-btn__item">
                <a href="https://twitter.com/share?url=<%= url %>&text=<%= encodeURI(page.title) %>" class="social-btn__link twitter">
                    <i class="icon-twitter"></i>
                </a>
            </li>
            <li class="social-btn__item">
                <a href="http://www.facebook.com/share.php?u=<%= url %>" class="social-btn__link facebook">
                    <i class="icon-facebook"></i>
                </a>
            </li>
            <li class="social-btn__item">
                <a href="http://www.tumblr.com/share/link?url=<%= url %>&name=<%= encodeURI(page.title) %>" class="social-btn__link tumblr">
                    <i class="icon-tumblr"></i>
                </a>
            </li>
            <li class="social-btn__item">
                <a href="http://b.hatena.ne.jp/add?mode=confirm&url=<%= url %>&title=<%= encodeURI(page.title) %>" class="social-btn__link hatena">
                    <i class="icon-hatena">B!</i>
                </a>
            </li>
            <li class="social-btn__item">
                <a href="http://getpocket.com/edit?url=<%= url %>&title=<%= encodeURI(page.title) %>" class="social-btn__link pocket">
                    <i class="icon-pocket"></i>
                </a>
            </li>
            <li class="social-btn__item">
                <a href="https://feedly.com/i/subscription/feed/https%3A%2F%2Fpixelog.net%2Fatom.xml" class="social-btn__link feedly">
                    <i class="icon-feedly"></i>
                </a>
            </li>
        </ul>
      </div>
      -->
      <div class="ad">
          <!-- 記事下広告 -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-9027963984337121"
               data-ad-slot="4141857270"
               data-ad-format="auto"
               data-full-width-responsive="true"></ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
      </div>
    </footer>
  </article>
</main>
