<!DOCTYPE html>
<html lang="<%= config.language %>">
<head prefix="og: http://ogp.me/ns#">
    <%- partial('_partial/head') %>
</head>
<body>
    <%- partial('_partial/header') %>
    <div class="container">
        <main class="main">
            <%- partial('_partial/breadcrumbs') %>
            <%- body %>
        </main>
        <%- partial('_partial/aside') %>
    </div>
    <%- partial('_partial/footer') %>
</body>
</html>
