<article class="post">
    <header class="post__header">
        <div class="post__meta">
            <time class="post__published" datetime="<%- page.date.format() %>">
              <%- page.date.format(config.date_format) %>
            </time>
            <% if (page.date.format() !== page.updated.format()) {%>
                <time class="post__updated" datetime="<%- page.updated.format() %>">
                  <%- '('+page.updated.format(config.date_format) + '更新)' %>
                </time>
            <% } %>
        </div>
      <h1 class="post__title"><%- page.title %></h1>
    </header>
    <div class="post__content"><%- page.content %></div>
    <footer class="post__footer">
        <% if (page.tags && page.tags.length > 0) { %>
          <ul class="post-tag">
              <% page.tags.forEach(function(item){ %>
                  <li class="post-tag__item">
                      <a class="post-tag__link" href="<%= url_for(item.path) %>">
                          #<%= item.name %>
                      </a>
                  </li>
              <% }) %>
          </ul>
        <% } %>
    </footer>
</article>
