<footer class="footer">
    <ul class="menu">
        <% for (var i in theme.menu){ %>
            <li class="menu__item">
                <a class="menu__link" href="<%- theme.menu[i] %>"><%= i %></a>
            </li>
        <% } %>
    </ul>
    <div class="footer__copyright">
        Powered by Hexo, Theme Aoba designed by pixelog<br>
        © <%= config.title %> <%= date(new Date(), 'YYYY') %>
    </div>
</footer>
<script type="application/ld+json"><%- partial('ld+json') %></script>
