<div class="post-list">
    <ul class="rich-list">
        <% page.posts.each(function(post){ %>
            <li class="rich-list__item">
                <a class="rich-list__link" href="<%- url_for(post.path) %>">
                    <time class="rich-list__date" datetime="<%- post.date.format() %>">
                      <%- post.date.format(config.date_format) %>
                    </time>
                    <h2 class="rich-list__title"><%- post.title || "Untitled" %></h2>
                </a>
            </li>
        <% }) %>
    </ul>
    <%- partial('pager') %>
</div>
